<?xml version="1.0"?>
<model>
  <name>iris_slung_load</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_slung_load.sdf</sdf>

  <author>
   <name>zyhr</name>
   <email>2067432452@qq.ocm</email>
  </author>

  <description>
    This is a model of the iris_slung_load Quadrotor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
